nav
{
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1000;
    color: black;
    background-color: var(--clr-neutral-100);
    box-shadow: 2px 2px 3px var(--clr-neutral-200);
}

.nav-list
{
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.cart-icon
{
    display: none;
    width: 60px;
    margin-left: auto;
    margin-right: 40px;
}

.logo
{
    margin-right: auto;
    font-weight: 800;
    cursor: pointer;
}

.sidebar--btn
{
    margin-right: 30px;
    background: none;
    border: none;
}



/* ================== Sidebar ======================= */

.sidebar
{
    display: flex;
    position: absolute;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: right 0.4s;
}

.close-sidebar
{
    color: #f56470;
    position: absolute;
    left: calc((100vw * 0.7) - 30px);
    top: 30px;
    cursor: pointer;
}

.side-content
{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 80%;
    height: 100%;
    row-gap: 40px;
}

.side-content > i
{
    display: flex;
    align-items: baseline;
    padding-left: 10%;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.side-content > i > h1,
.side-content > i > a
{
    position: absolute;
    left: 75px;
    bottom: 0;
    font-size: 1.2rem;
}

.desktop-cart
{
    margin-right: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: black;
}
